@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

body {
  font-family: "Rubik Microbe", cursive;
  padding: 0;
  margin: 0;
  background-color: #ccc;
  background-image: radial-gradient(#ccc, #9198e5);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  text-align: center;
}

header {
  background-color: rgb(113, 83, 98);
  padding: 9px;
  margin-bottom: 10px;
  color: rgb(215, 249, 249);
  letter-spacing: 0.1rem;
}

main {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
}

#anime {
  min-height: 500px;
  max-height: 750px;
  width: 60%;
  border: 1px dotted purple;
  background-color: rgb(241, 218, 230);
  margin-bottom: 7px;
  padding: 24px;
  overflow: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#photo-desc {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

#photo-desc img {
  height: 80%;
  margin-right: 12px;
}

li::marker {
  color: hotpink;
}

li {
  cursor: pointer;
}

p {
  text-align: justify;
  line-height: 150%;
  width: 50%;
}

small {
  display: block;
}

form{
  padding: 12px;
}

form input[type="text"], form #save-movie {
  margin: 8px 0;
}

form #save-movie {
  padding: 6px;
  border-radius: 7px;
  border: none;
  background-color: rgb(72, 71, 71);
  box-shadow: 2px 4px 4px 1px rgba(84,74,74,0.75);
-webkit-box-shadow: 2px 4px 4px 1px rgba(84,74,74,0.75);
-moz-box-shadow: 2px 4px 4px 1px rgba(84,74,74,0.75);
  color: aliceblue;
}

